@page "{restaurantId:int?}"
@model EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Editing @Model.Restaurant.Name</h1>

<form method="post">
    <input type="hidden" asp-for="@Model.Restaurant.ID" />
    <div class="form-group">
        <label asp-for="@Model.Restaurant.Name"></label>
        <input asp-for="@Model.Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Restaurant.Location"></label>
        <input asp-for="@Model.Restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Restaurant.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Restaurant.Cuisine"></label>
        <select asp-for="@Model.Restaurant.Cuisine" class="form-control" asp-items="Model.Cuisines">
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Save</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
 }