@page
@model ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Restuarants List</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchTerm" class="form-control" value="" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

</form>
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var restaurant in Model.Restaurants)
        {
        <tr>
            <td>
                @restaurant.Name
            </td>
            <td>
                @restaurant.Location
            </td>
            <td>
                @restaurant.Cuisine
            </td>
            <td>
                <a class="btn btn-default" asp-page="./Detail" asp-route-restaurantId="@restaurant.ID"><i class="fas fa-info-circle"></i></a>
            </td>
            <td>
                <a class="btn btn-default" asp-page="./Edit" asp-route-restaurantId="@restaurant.ID"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <a class="btn btn-default" asp-page="./Delete" asp-route-restaurantId="@restaurant.ID"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-page="./Edit" class="btn btn-danger">Add New</a>
@Model.Message

